@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@500&display=swap');

body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    text-align:center;
   
      
}
/*designing the navbar*/
#logo{
    color:#b45008; 
    font-family:Courgette;
}
.navbar{
    width:100%;
}

.landing{
    position: relative;
  
}
.video{
    width:100%;
    height:auto;
    overflow: hidden;
       
}
/*creating and positioning the greeting message*/
.greeting{
    display:block;
    position: absolute;
    top: 50%;
    left:50%;
    border-radius: 50%;
    margin-top:-10rem;
    margin-left:-10rem;   
    width: 20rem;
    height:20rem;
    background-color: rgb(255, 255, 249,0.7);
  
}

.greeting h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;   
    font-weight: bold; 
    padding: 4em 2em 0.5em;
    }
.greeting h2{      
    color:#b45008;
    font-family:Courgette;
    padding: 0 0.75em;
    font-size: xxx-large;
        
}
/* Website status design*/
.status{
    background-color: #b45008;
}

.status p {
   
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size:medium;
    color:#e8bf65;
}
.status h3{
    
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: x-large;
    font-weight: bolder;
    color: whitesmoke;
}
.status h2{
    color:whitesmoke;
   
}

#map {
        height: 50rem;
        width:100%;
        border-radius: 2%;
        margin-top:1rem;
    }
#restaurantInfo{
    margin-top:1rem;
    text-align: left;
}

div .img-thumbnail:hover {
    opacity:0.5;
    cursor: pointer;
}

/*info card design*/
.open{
   width: 18rem;
}
.websiteLink{
    color:whitesmoke;
}
.card-img-top{
    width:100%;
    max-height:20rem;
}
.review{    
    height:15rem;
    overflow: scroll;
    
}
.rewiew h5, h6{
    color: #b45008;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 20%;
}
/*about me section style*/
#about-me h3{
    color: #b45008;
}
#about-me p{
    font-size:large;
}
#contact-me{
    width:50%;
    color:#b45008;
}
.btn{
    color:whitesmoke;
    background-color: #e8bf65;
    border-color:#e8bf65;
}
.btn:hover{
    background-color:#b45008;
    color:whitesmoke;

}
/*social links*/
.social{
   padding:20px;
   

}
.social h5{
    color:#b45008; 
    font-family: Courgette;
    font-weight:bold;   
    letter-spacing: 4px;
    font-size:1.8em;
}

.social ul a i{
   margin-left:1.5rem;
   margin-right: 1.5rem;
   width:30px;
   font-size: 3em;
   line-height: 10px;
   color: #e8bf65;
   padding: 20px 20px 10px 15px;
}
.social ul a i:hover{
    color:#b45008;
}

/*animation for the card from Animista*/
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*Key frames for Animation*/
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

@media screen and (max-width:768px){
 /*fixing the propotion of the buttons when the screen is smaller */ 
    .cuisine{
        display: block;
        padding-left:10rem;
        padding-right:9rem;
        margin-bottom: 1rem;
    }
    
}
@media screen and (min-width:991px){

    greeting {
    display: block;
    position: absolute;
    top: 5%;
    background-color: rgb(255, 255, 249,0.7);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    left: 42%;
}
}