@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@500&display=swap');

body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.landing{
    position: relative;
  
}
div video{
    width:100%;
    height:40em;
    box-shadow: 2px 2px grey;
    
}

.greeting{
    
    position: absolute;
    top: 25%;
    background-color: rgb(255, 255, 249,0.7);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 34%;
}

.greeting h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;   
    font-weight: bold; 
    padding: 4em 2em 0.5em;
}
.greeting h2{      
    color:#b45008; 
    font-family:Courgette;
    padding: 0 0.75em;
    font-size: xxx-large;
}

 #map {
        height: 500px;
        width:100%;
        border-radius: 2%;}

div .img-thumbnail:hover {
    opacity:0.5;
}

@media screen (max-width:991px){

    
}